$recipeWidth: 20rem;

.recipeContainer {
    display: flex;
    border: 1px black solid;
    width: max-content;
    flex-wrap: wrap;
    background-color: white;
    margin-bottom: 2rem;
    height: 25rem;
}
.recipeImg {
    width: $recipeWidth;
    height: 100%;
}
.textContainer {
    display: flex;
    padding: 0;
    width: $recipeWidth * 0.67;
    flex-wrap: wrap;
}
.label {
    width: $recipeWidth * 0.67;
    margin: 0;
}
.calories {
    margin: 0;
    width: $recipeWidth * 0.67;
}
.ingredients {
    margin: 0;
    width: $recipeWidth * 0.67;
}
.cookTime {
    margin: 0;
    width: $recipeWidth * 0.67;
}
.cautions {
    margin: 0;
    width: $recipeWidth * 0.67;
}
.submitBtn {
    margin: 0;
    width: $recipeWidth * 0.67;
}
