$height: 51.14rem;

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $height;
    width: 100vw;
    flex-wrap: wrap;
    align-content: center;
}
.dne {
    text-align: center;
    height: 3.5rem;
    width: 100%;
}